@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.textFull {
  text-align-last: justify !important;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

.honeycomb {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
  max-width: 780px;
  margin: 0 auto;
  padding: 0;
  transform: translateY(34.375px);
}
.lock-screen {
  overflow: hidden;
}
.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
  grid-gap: 20px;

  width: 100%;
  height: 100%;
}
.line2 {
  margin: 20px 0;
}
.slick-slide {
  text-align: center;
}
.slick-prev:before,
.slick-next:before {
  display: none;
}
.slwrapper .slick-track {
  cursor: pointer;
}
/* .slwrapper .slick-list {
} */
.slick-dots li button:before {
  font-size: 10px !important;
}
/* .slick-current {
  transform: scale(1.05);
  transition-duration: 0.25s;
} */
@media only screen and (max-width: 768px) {
  .grid1 {
    justify-content: center;
  }
}

.slick-slide :hover {
  transform: scale(1.02);
}
.svg-hex {
  max-width: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .slick-slide :hover {
  transform: scale(1);
}
